<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Product Rec</title>
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>


  
  <!-- Latest compiled and minified CSS -->

   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />

   <!-- Custom styles for this template -->
    <link href="static/css/ionicons.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
    <link href="static/css/thumbnail-gallery.css" rel="stylesheet">


</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{% block branding %}View{% endblock %}</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/show">Gallery</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/tags">Tags</a></li>
            {% block extra_nav %}{% endblock %}
          </ul>
        </div>
      </div>
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    

          {% block content %}
          {% include "/includes/list.html" %}
          {% include "/includes/page_links.html" %}
          {% endblock %}
       
       <!--  <div class="col-md-3">
          {% block sidebar %}
          <ul class="well nav nav-stacked">
            <li><a href="#">Sidebar item</a></li>
          </ul>
          {% endblock %}
        </div> -->
      
          
 <!--scripts loaded here from cdn for performance -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="static/js/retina-1.1.0.js"></script>
    <script src="static/js/jquery.hoverdir.js"></script>
    <script src="static/js/jquery.hoverex.min.js"></script>
    <script src="static/js/jquery.prettyPhoto.js"></script>
    <script src="static/js/jquery.isotope.min.js"></script>
    <script src="static/js/custom.js"></script>


</body>
</html>