{% extends "detail_base.html" %}
{% block content %}

<h1>{{ image.image_label }}</h1>
 
{% block sidebar %}
  <ul class="well nav nav-list">
    <li><h4>Tags</h4></li>
    {% for tag in image.tags %}
      <li>{ tag.name }}</li>
    {% endfor %}
  </ul>

 <div class="col-xs-12 col-lg-6">
          <form action="/images/{{ image.id }}" method="POST">
              <div class="form-group">
                  <label>New Tag:
                      <input type="text" name="query"
                             class="form-control input-sm">
                  </label>
              </div>
              <input type="submit" value="Add a tag"
                     class="btn btn-danger">
          </form>
      {% endif %}

{% endblock %}