{% extends 'base.html' %}
{% block content %}

<div id="h">
      <div class="logo">
        <h2>View</h2>
      </div><!--/logo-->
      <div class="container centered">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1>Hello. Begin your search here. </h1>
          </div>
        </div><!--/row-->

        <div class="row mt">
          <div class="col-sm-4">
            <i class="ion-ios7-monitor-outline"></i>
            <h3>Search</h3>
          </div><!--/col-md-4-->

          <div class="col-sm-4">
            <i class="ion-ios7-browsers-outline"></i>
            <h3>Upload</h3>
          </div><!--/col-md-4-->

          <div class="col-sm-4">
            <i class="ion-ios7-copy-outline"></i>
            <h3>Gallery</h3>
          </div><!--/col-md-4-->
        
        </div><!--/row-->
      </div><!--/container-->
    </div><!--H-->

    <div class="container ptb">
      <div class="row">
        <h2 class="centered mb">Machine Learning:<br/>Deep learning in computer vision</h2>
        <div class="col-md-6">
          <p>Over the past few weeks, I focused on using deep learning to create non-linear features to improve the performance of machine learning. I also saw how transfer learning techniques can be applied to use deep features learned with one dataset to get great performance on a different dataset. I built an iPython notebooks for both image retrieval and image classification tasks on real datasets.
        </p>
        </div><!--/col-md-6-->
        <div class="col-md-6">
          <p>In this application, I build new image retrieval models and explore their results on different parts of my image dataset. Linear regression, classification, training and evaluating a classifier using deep features, are  techniques at the core of my capstone project.</p>
        </div><!--/col-md-6-->
      </div><!--/row-->
    </div><!-- /.container -->
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <img src="static/imgs/items.png" class="img-responsive" alt="">
        </div>
      </div><!--/row-->
    </div><!--/.container-->

    <div id="g">
      <div class="container">
        <div class="row centered">
          <h2>Check out some other photos</h2>
          
        </div><!--/row-->
      </div><!--/.container-->
    

<div id="wrapper">
    <div id="columns">
        <div class="pin">
            <img src="static/imgs/portfolio/portfolio_11.jpg" />
            <p>
                [tags: animal, white, black, panda]
            </p>
        </div>
    
        <div class="pin">
            <img src="static/imgs/portfolio/portfolio_01.jpg" />
            <p>
                [tags: dog, animal, corgi]
            </p>
        </div>
    
        <div class="pin">
            <img src="static/imgs/portfolio/portfolio_02.jpg" />
            <p>
               [tags: shirt, blue, short sleeve]
            </p>
        </div>
    
        <div class="pin">
            <img src="static/imgs/portfolio/portfolio_03.jpg" />
            <p>
                [tags: pink]
            </p>
        </div>
    
        <div class="pin">
            <img src="static/imgs/portfolio/portfolio_04.jpg" />
            <p>
                [tags: food, rice]
            </p>
        </div>
    
        <div class="pin">
            <img src="static/imgs/portfolio/portfolio_05.jpg" />
            <p>
               [tags: flower, red, black]
            </p>
        </div>  
        
        <div class="pin">
            <img src="static/imgs/portfolio/portfolio_06.jpg" />
            <p>
                [tags: chair, pink ]
            </p>
        </div>
    
        <div class="pin">
            <img src="static/imgs/portfolio/portfolio_07.jpg" />
            <p>
                [tags: mountain, flowers] 
            </p>
        </div>
    
        <div class="pin">
            <img src="static/imgs/portfolio/portfolio_09.jpg" />
            <p>
               [tags: car, black, automobile ]
            </p>
        </div>
    
        <div class="pin">
            <img src="static/imgs/portfolio/portfolio_10.jpg" />
            <p>
                [tags: hat]
            </p>
        </div>
    
        
    </div>
</div>

<!-- FINISHED -->

    <div class="container mt">
        <div class="row clients centered">
          <p class="mb">Tech Stack</p>
          <div class="col-sm-2 col-sm-offset-1">
            <img src="static/imgs/tech/client1.png" alt="">
          </div>
          <div class="col-sm-2">
            <img src="static/imgs/tech/client3.png" alt="">
          </div>
          <div class="col-sm-2">
            <img src="static/imgs/tech/client2.png" alt="">
          </div>
          <div class="col-sm-2">
            <img src="static/imgs/tech/client4.png" alt="">
          </div>
          <div class="col-sm-2">
            <img src="static/imgs/tech/client5.png" alt="">
          </div>
        </div><!--/row-->
      </div><!--/container-->
    </div><!--/.G-->

    <div id="sep">
      <div class="container">
        <div class="row centered">
          <div class="col-md-8 col-md-offset-2">
            <h1>Hackbright Software Engineering Fellowship</h1>
            <h3 class="mb">
                Hackbright Academy is the leading software engineering school for women founded in San Francisco in 2012. #hack13right #changetheratio #wogrammers
                </h3>
            
            <button class="btn btn-conf btn-clear">
                <a href="mailto:sjwilson2@usfca.edu?Subject=Hello%20!" target="_top">
                Say hello!</a>

            </button>
          </div>
        </div><!--/row-->
      </div><!--/container-->
    </div><!--/.sep-->

    <div id="f">
      <div class="container">
        <div class="row centered">
          <div class="col-md-8 col-md-offset-2">
            <a href="https://twitter.com/shai_wilson_" target="_blank"><i class="ion-social-twitter"></i></a>
            <a href="https://github.com/shaiwilson" target="_blank"><i class="ion-social-github"></i></a>
            <a href="https://www.linkedin.com/in/shai-wilson-1bb5b190" target="_blank"><i class="ion-social-linkedin"></i></a>
            
          </div><!--/col-md-8-->
        </div>
      </div><!--/container-->
    </div><!--/.F-->

{% endblock %}